.account-card {
  .avatar-img {
    max-width:140px;
    max-height:140px;
  }

  a.change-photo, a.change-logo {
    font-size:10px;
    cursor:pointer;
    &:hover {
      text-decoration:underline;
    }
  }
}

div#change-logo {
  img {
    max-width:200px;
    max-height:100px;
    margin-bottom:15px;
  }
  a.change-logo {
    &:hover {
      text-decoration:underline;
    }
  }
  margin-bottom:15px;
  padding-top:15px;
  background: #f9f9f9;
  border:1px solid #d6d6d6;
}
