img#main-logo {
  max-width:130px;
}
.pointer {
  cursor:pointer;
}
.logo-avatar {
  height:30px;
}

div.alert-form {
  background-color:rgba(255,255,255,0.5);
  padding: 15px 15px 5px 15px;
}


  a.action {
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    padding:6px 7px;
    text-decoration:none;
    &:active {
      position:relative;
      top:1px;
    }
    &.blue {
      box-shadow:inset 0px 1px 0px 0px #97c4fe;
      background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
      background-color:#3d94f6;
      border-radius:6px;
      border:1px solid #337fed;
      text-shadow:0px 1px 0px #1570cd;
      &:hover {
        background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color:#1e62d0;
      }
    }
    &.red {
      box-shadow:inset 0px 1px 0px 0px #fc9797;
      background:linear-gradient(to bottom, #f53d3d 5%, #cf1f1f 100%);
      background-color:#f53d3d;
      border-radius:6px;
      border:1px solid #eb3434;
      text-decoration:none;
      text-shadow:0px 1px 0px #cc1616;
      &:hover {
        background:linear-gradient(to bottom, #cf1f1f 5%, #f53d3d 100%);
        background-color:#cf1f1f;
      }

    }
    &.green {

    }

  }
